
<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    <div>
      <img src="/favicon.png" width="150" style="max-width: none;">
    </div>
    <div>
      {{- site.description | escape -}}<      
    </div>
  </div>
</footer>





<!-- <div class="container">
  <div class="row">
    <div class="column">
      <ul>
        <li><h2 class="footer-heading">{{ site.title | escape }}</h2></li>
        <li>{{ site.author | escape }}</li>
        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
    <div class="column">
      <img src="/favicon.png" width="150" style="max-width: none;">
    </div>
    <div class="column">
      <ul>
        <li>{{- site.description | escape -}}</li>
        <li>{%- include social.html -%} </li>
      </ul>
    </div>
  </div>
</div>
 -->



<!-- <footer class="site-footer h-card">
  <div class="container">


    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
          <div class="copyright  typeset">
            <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
          </div>
        </div>
  
        <div class="footer-col footer-col-2-new">
            <img src="/favicon.png" width="150" style="max-width: none;">
        </div>
  
        <div class="footer-col footer-col-3">
          <p>{{- site.description | escape -}}</p>
          {%- include social.html -%}
  
        </div>
      </div>
  
    </div>
  </div>
</footer> -->
